<!DOCTYPE html>


<html>

	<head>
		<title>Rango</title>
	</head>

	{% if user.is_authenticated %}

		<h1>Rango says... Hello {{ user.username }}!</h1>
	{% else %}
		<h1>Rango says... Hello world!</h1>
	{% endif %}

		{% if categories %}
		<ul>
			{% for category in categories %}
			<li>
				<a href="/rango/category/{{ category.slug }}">{{ category.name }}</a>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<strong>There are no categories present.</strong>
		{% endif %}


		<h2>Top 5 Pages</h2>
		{% if pages %}
		<ol>
			{% for page in pages %}
			<li>
				<a href="{{ page.url }}">{{ page.title }}</a> - {{ page.category }} ({{ page.views }} view(s))
			</li>
			{% endfor %}
		</ol>
		{% else %}
		<strong>There are no pages at present.</strong>
		{% endif %}

	<a href="/rango/add_category/">Add a new category</a>
	</br>

	{% if user.is_authenticated %}
	<a href="/rango/restricted/">Restricted Page</a><br />
	<a href="/rango/logout/">Logout</a><br />
	{% else %}
	<a href="/rango/register/">Register here</a>
	</br>
	<a href="/rango/login/">Login</a>
	{% endif %}

	</html>

	</body>

</html>